/* Base HTML CSS3 */

a {
	text-decoration: none;
	color: #0095FF; }
a:visited {
	color: #888888; }
a:hover {
	color: #47C2DC; }
img {
	max-width: 100%; }
div {
	transition: all 0.25s ease-in 0s; }
h1 {
    font-size: 17px; }
h2 {
    font-size: 17px;
    margin: 5px; }
header {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 500px; }
#header {
	max-width: 1170px;
	margin: 0px auto;
	padding: 50px; }
.hl img {
	width: 250px;
	margin: 0px auto; }
.headline {
	background-color: rgba(50, 50, 50, 0.50);
	color: #ffffff;
	text-align: left;
	border: 2px solid #4B515D; }
.new {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    color: #000000;
    font-weight: 900; }
.new:hover {
    padding: 0px 10px 0px 10px; }
.works {
	background-color: rgba(50, 50, 50, 0.50);
	color: #ffffff;
	text-align: center;
	border: 2px solid #3BB9FF;
	margin: 10px; }
.pageinfo {
	background-color: rgba(50, 50, 50, 0.50);
	padding: 10px;
	color: #ffffff;
	text-align: center;
	border: 2px solid #3BB9FF; }
.infobox {
	background-color: rgba(255, 255, 255, 0.8);
	width: 99%;
	height: 50px;
	padding-top: 15px;
	margin: 0px auto;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset; }
.news {
	color: #000;
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	height: 100%;
	margin: 0px auto; }
.news-title {
	color: #000;
	font-family: Calibri;
	font-size: 15px;
	font-weight: bold; }

.blogfeed{width:100%; height:40px; background:#373737 url("../img/background/black.jpg") repeat fixed 0% 0px; position:relative; overflow:hidden;}
.blogfeed>.blogfeed-title{width:auto; height:40px; display:inline-block; background:#2096cd; position:relative;}
.blogfeed>.blogfeed-title>h2{display:inline-block; margin:0; padding:0 20px; line-height:40px; font-size:17px; font-weight: 500;color:#FFF; height:40px; box-sizing:border-box;}
.blogfeed>.blogfeed-title>span{width: 0;position:absolute;right:-10px;top:10px;height: 0;border-style: solid;border-width: 10px 0 10px 10px;border-color: transparent transparent transparent #2096cd;}

.blogfeed>ul{padding:0; margin:0; list-style:none; position:absolute; left:210px; top:0; right:40px; height:40px; font-size:16px;}
.blogfeed>ul>li{position:absolute; height:40px; width:100%; line-height:40px; display:none;}
.blogfeed>ul>li>a{text-decoration:none; color:#333; overflow:hidden; display:block; white-space: nowrap;text-overflow: ellipsis; font-weight:normal;}
.blogfeed>ul>li>a>span{color:#2096cd;}
.blogfeed>ul>li>a:hover{color:#2096cd;}

.blogfeed>.blogfeed-navigation{width:40px; height:40px; position:absolute; right:0; top:0; opacity:0;}
.blogfeed>.blogfeed-navigation>span{width:20px; height:40px; position:absolute; top:0; cursor:pointer; opacity:0.3; background-image:url(../img/icon/arrows.png); background-repeat:no-repeat;}
.blogfeed>.blogfeed-navigation>span:hover{opacity:1;}
.blogfeed>.blogfeed-navigation>span:first-child{background-position:left center; left:0;}
.blogfeed>.blogfeed-navigation>span:last-child{background-position:right center; right:0;}
.blogfeed:hover .blogfeed-navigation{opacity:1;}

.bn-purple{border-color:#4B515D;}
.bn-purple>.blogfeed-title{background:#4B515D;}
.bn-purple>.blogfeed-title>span{border-left-color:#4B515D;}
.bn-purple>ul>li>a:hover,.bn-purple>ul>li>a>span{color:#4B515D;}
.info {
	color: #000;
	font-family: Calibri;
	font-size: 15px; }
.divider {
	padding: 2px 3rem;
	margin: 0px auto;
	font-size: 1rem;
	background: transparent; }
.banner1 {
	height: 300px;
	background: rgba(100, 100, 100, 0.50) url("../img/banner/banner1.jpg") no-repeat 50% 50%;
	text-align: center;
	margin: 0px auto;
	cursor: pointer; }
.banner2 {
	height: 300px;
	background: rgba(100, 100, 100, 0.50) url("../img/banner/banner2.jpg") no-repeat 50% 50%;
	text-align: center;
	margin: 0px auto;
	cursor: pointer; }
.banner3 {
	height: 300px;
	background: rgba(100, 100, 100, 0.50) url("../img/banner/banner3.jpg") no-repeat 50% 50%;
	text-align: center;
	margin: 0px auto;
	cursor: pointer; }
.banner4 {
	height: 300px;
	background: rgba(100, 100, 100, 0.50) url("../img/banner/banner4.jpg") no-repeat 50% 50%;
	text-align: center;
	margin: 0px auto;
	cursor: pointer; }
.ynlinks {
	height: 280px;
	background-color: rgba(100, 100, 100, 0.50); }
.update {
	height: 100%;
	background-color: rgba(150, 150, 150, 0.50);
	padding-top: 40px;
	padding-bottom: 20px; }
.latestarts {
	color: #fff;
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	padding: 20px;
	margin: 0px auto;
	width: 40%;
	border-radius: 5px;
	box-shadow: 0px 1px 5px #000 inset;
	margin-bottom: 20px;
	background: #212121;
	transition: all 0.15s ease-in 0s; }
.latestarts:hover {
	color: #000;
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	padding: 20px;
	margin: 0px auto;
	width: 40%;
	border-radius: 5px;
	box-shadow: 0px 1px 5px #000 inset;
	margin-bottom: 20px;
	background: #BBBBBB; }
.latestvideos {
	color: #fff;
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	padding: 20px;
	margin: 0px auto;
	width: 40%;
	border-radius: 5px;
	box-shadow: 0px 1px 5px #000 inset;
	margin-bottom: 20px;
	background: #212121;
	transition: all 0.15s ease-in 0s; }
.latestvideos:hover {
	color: #000;
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	padding: 20px;
	margin: 0px auto;
	width: 40%;
	border-radius: 5px;
	box-shadow: 0px 1px 5px #000 inset;
	margin-bottom: 20px;
	background: #BBBBBB; }
.item {
	margin: 0px auto;
	max-width: 1000px;
	padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
	transition: all 0.25s ease-in 0s; }
.item1, .item2, .item1:hover, .item2:hover {
	width: 480px;
	height: 240px;
	margin: 5px; }
/* Code below is only active if .item3 and .item4 in index.html is active
.item1, .item2, .item3, .item4, .item1:hover, .item2:hover, .item3:hover, .item4:hover {
	width: 240px;
	height: 240px;
	margin: 5px; }
*/
.item1 {
	background: #212121 url("../img/awattpad.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.item1:hover {
	background: transparent url("../img/wattpad.png") no-repeat 50% 50%;
	transition: all 0.25s ease-in 0s; }
.item2 {
	background: #212121 url("../img/ada.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.item2:hover {
	background: transparent url("../img/da.png") no-repeat 50% 50%;
	transition: all 0.25s ease-in 0s; }
/* Code below is only active if .item3 and .item4 in index.html is active
.item3 {
	background: #212121 url("../img/ayoutube.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.item3:hover {
	background: transparent url("../img/youtube.png") no-repeat 50% 50%;
	transition: all 0.25s ease-in 0s; }
.item4 {
	background: #212121 url("../img/apixiv.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.item4:hover {
	background: transparent url("../img/pixiv.png") no-repeat 50% 50%;
	transition: all 0.25s ease-in 0s; }
*/
.arts {
	margin: 0px auto;
	margin-bottom: 20px; 
	max-width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
	transition: all 0.25s ease-in 0s; }
.art1, .art2, .art3, .art4, .art5 {
	width: 250px;
	height: 125px;
	margin: 5px; }
.art1 {
	background: #212121 url("../img/nc.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.art2 {
	background: #212121 url("../img/nc.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.art3 {
	background: #212121 url("../img/nc.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.art4 {
	background: #212121 url("../img/nc.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.art5 {
	background: #212121 url("../img/nc.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.videos {
	margin: 0px auto;
	max-width: 1325px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
	transition: all 0.25s ease-in 0s; }
.video1, .video2 {
	width: 640px;
	height: 360px;
	margin: 10px; }
.video1 {
	background: #212121 url("../img/nc.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
.video2 {
	background: #212121 url("../img/nc.png") no-repeat 50% 50%;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 1) inset;
	transition: all 0.25s ease-in 0s; }
div#profile {
	padding: 60px 0px;
	position: relative;
	width: 100%;
	background: #373737 url("../img/background/black.jpg") repeat fixed 0% 0px;
	display: block;overflow: auto; }
#profile .profile {
	padding: 40px 0px;
	width: 90% }
#profile .avatar img {
	height: 100%;
	width: auto; }
#profile .about .name {
	color: #000;
	font-weight: bolder;
	font-size: 17px;
	padding: 10px 0px; }
#profile .about .summary {
	color: #000;
	font-weight: 400;
	line-height: 22px;
	font-size: 14px; }
#profile .about .summary a {
	color: #fff; }