/* Share Button CSS Code */

.share-button {
    width: 118px;
    height: 36px;
    padding: 5px;
    margin: 0px auto; }
.share-title {
    margin-bottom: 10px;}
.share-facebook {
    width: 36px;
    height: 36px;
    float: left; }
.share-twitter, .share-googleplus {
    width: 36px;
    height: 36px;
    float: left;
    margin-left: 5px; }
.share-facebook .icon-facebook, .share-twitter .icon-twitter, .share-googleplus .icon-googleplus {
	background: url(../img/social/shareicon.jpg);
    width: 36px;
    height: 36px;
    position: relative;
    float: left;
    transition: margin-top 0.1s; }
.share-facebook:hover .icon-facebook, .share-twitter:hover .icon-twitter, .share-googleplus:hover .icon-googleplus {
	margin-top: -10px; }
.share-facebook .icon-facebook {
	background-position: 0px 0px; }
.share-twitter .icon-twitter {
	background-position: 108px 0px; }
.share-googleplus .icon-googleplus {
	background-position: 72px 0px; }