/* Base CSS3 */
a {
	text-decoration: none;
	color: #47AFE4; }
h1 {
	font-weight: 900;
	font-size: 25px;
	text-align: center;
	color: #0095FF; }
h3 {
	font-family: "PT Sans", sans-serif;
	font-weight: 500;
	color: #FFF; }

/* Main Content CSS */
#main-content :first-child {
	margin-top: 0px; }
#main-content h2, #main-content h3, #main-content h4, #main-content h5, #main-content h6 {
	margin-top: 0rem;
	margin-bottom: 1rem;
	font-weight: 500;
	color: #FFFFFF;
	font-size: 17px; }
#main-content blockquote {
	padding: 10px;
	margin: 0px auto;
	background: #212121;
	color: #FFFFFF; }
#main-content blockquote a {
	color: #FFFFFF; }
#main-content blockquote a:hover {
	color: #F92672; }
#main-content {
	max-width: -webkit-fill-available;
	padding: 2rem 3rem;
	background: rgba(22,22,22,0.9);
    text-align: Justify;
    color: #fff !important; }
#main-content-child {
	width: 69%;
    margin: 0px auto; }

/* Search Page CSS */
#searchbox {
	background-image: url('../img/icon/search.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	font-size: 16px;
	text-align: center;
	padding: 12px 0px 12px 0px;
	border: 0px solid #ddd;
	margin-bottom: 12px;
	width: 100%; }
#searchbox:hover {
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2); }
#postlist {
	list-style-type: none;
	padding: 0;
	margin: 0; }
#postlist li a {
	border: 1px solid #ddd;
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block }
#postlist li a.header {
	background-color: #e2e2e2;
	cursor: default; }
#postlist li a:hover:not(.header) {
	background-color: #eee; }
#searchinput {
	width: 100%; }
.blog {
	border-left: 5px solid #212121; }
.lt {
	border-left: 5px solid #00B900; }
.ar {
	border-left: 5px solid #0D006D; }
.ai {
	border-left: 5px solid #005D42; }

/* Blog Post CSS */
.title {
	font-weight: 900;
	text-align: center;
	color: #0095FF; }
.fade {
	opacity: 0; }
.post-title {
	font-weight: 900;
	font-size: 20px;
	text-align: center;
	color: #0095FF; }
.post-date {
	font-size: 15px;
	text-align: center;
	color: #0095FF; }
div #post-image {
	text-align: center;
	max-width: 200px; }
figcaption {
	text-align: center; }

/* Media Screen Bootstrap 1280 or Below */
@media screen and (min-width: 42em) and (max-width: 64em) {
	#main-content {
		padding: 2rem 4rem;
		font-size: 1rem; }  }

@media screen and (max-width: 42em) {
	#main-content {
		padding: 2rem 1rem;
		font-size: 1rem; } }

@media only screen and (max-width: 695px) {
	#main-content-foot {
		padding: 3rem 3rem; } }

@media only screen and (max-width: 480px) {
	#postlist li a {
		font-size: 12px; } }