/* Base CSS3 */
/* *//* *//* */
html {
	scroll-behavior: smooth;
	overflow-x: hidden; }
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; }
a {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 10px 10px 10px;
	margin: 0px;
	font-family: "Titillium Web", sans-serif;
	color: #fff;
	text-decoration: none; }
a:visited {
	color: #fff; }
a:active, a:hover {
	color: #0095FF;
	border-bottom: 0px solid #0095FF;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s; }
b {
	font-weight: 800; }

h1 span {
	background-color: #097ff8;
	padding: 0px 8px;
	border-radius: 10px;
}
span {
	margin-bottom: 10px;
}
code {
	background: #063c0e;
	padding: 0px 5px 0px 5px;
	border-radius: 0px;
	font-family: "Titillium Web", sans-serif; }
span.detailed, b.detailed {
    background: #1c553b;
    padding: 2px 4px;
    border-radius: 7px;
}

#footer {
	width: -webkit-fill-available;
	z-index: 95;
	position: absolute;
	background: #1a0d25 !important;
	color: #fff !important;
	border-top: 1px solid #474747;
}
#top {
	top: 0px;
	position: absolute;
}

/* HOMEPAGE  */
/* *//* *//* */
/* *//* *//* */
body {
	color: #eee;
}
nav {
	width: -webkit-fill-available;
	position: fixed;
	height: 50px;
	z-index: 99;
	top: 0px;
	background: #030712;
	height: max-content;
	border-bottom: 1px solid #474747; }
#nav_main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 60px;
    width: -webkit-fill-available;
    margin: 0px auto;
    justify-content: center;
}
.nav_icon {
	background: transparent url('../../img/maiyome_logo.webp') no-repeat 50% 50% / contain;
	width: 200px;
	margin-right: 20px;
	left: 0px; }
.nav_list {
	width: 50vw;
}
.nav_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 60px;
	justify-content: center;
}
.nav.item {
    max-width: 105px;
    height: auto;
    display: flex;
    align-items: center;
    min-width: 50px;
    margin: 0px 10px;
}
.nav.item a {
	text-align: center;
	width: -webkit-fill-available;
	white-space: nowrap;
	overflow: hidden;
}
.nav_download {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 20px;
	right: 0px;
}

header {
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: -webkit-fill-available;
	z-index: 2; }

.header.mesh {
	background-color: #0f0f14;
	background-image: radial-gradient(circle at 20% 80%, #301254, transparent 50%), radial-gradient(circle at 80% 20%, #245a89, transparent 50%);
	filter: blur(100px);
	width: 100vw;
	height: -webkit-fill-available;
	position: absolute;
	z-index: -2;
}
	
#info_main {
	background-color: transparent;
	top: 200px;
	width: -webkit-fill-available;
	position: absolute;
	margin: 0px auto;
	text-align: center;
	z-index: 2;
}
.info_top {
	font-weight: 800;
	font-size: 2.5rem;
	margin: 20px 20px 0px 20px;
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.info_mid {
	font-size: 1rem;
}
.info_bottom {
	margin: 30px 20px 20px 20px;
}
.info_sub.download {
	color: #222222;
	font-weight: 800;
	width: max-content;
	height: max-content;
	margin: 0px auto;
	vertical-align: middle;
	font-size: 20px;
	border-radius: 10px;
	display: flex;
}
.info_sub.download span {
	padding: 15px;
	width: max-content;
	margin: 0px auto;
}

section#main-content {
	height: max-content;
	padding: 10px;
	margin: 0px auto;
	display: flex;
}
	#insert {
		margin: 0px auto;
		width: 100vw;
		height: 100vh;
		position: fixed;
	}
	.insert_header {
		margin-left: 50px;
	}

	.image_insert {
		background: transparent url(../../resources/image/maiyome_main.webp) no-repeat 50% 50% / contain;
		opacity: 0;
		transform: translateY(40px) rotateX(9deg) rotateY(4deg) rotateZ(-5deg) skewX(5deg) skewY(-1deg);
		width: 90vw;
		height: 80vh;
		z-index: -1;
		position: relative;
		left: 0px;
		animation: slideFadeUp 1s cubic-bezier(0.42, 0, 0.21, 1) 0.1s forwards;
		margin: 0px auto;
		top: 40vh;
	}

		@keyframes slideFadeUp {
			from {
				opacity: 0;
				transform: translateY(40px) rotateX(9deg) rotateY(4deg) rotateZ(-5deg) skewX(5deg) skewY(-1deg);
			}
			to {
				opacity: 1;
				transform: translateY(0px) rotateX(9deg) rotateY(4deg) rotateZ(-5deg) skewX(5deg) skewY(-1deg);
			}
		}
	.cube {
		transform:  scaleX(1) scaleY(1) scaleZ(1) rotateX(24deg) rotateY(24deg) rotateZ(-10deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
	}
	.cube-wrap {
		perspective: 1000px;
		perspective-origin: 50% 50%;
	}

section#about {
	background: #111111;
}
section#features {
	background: #333333;
}
section#usage {
	background: #222222;
}
section#developers {
	background: #222222;
}
section#changelog {
	background: #222222;
}
section#notes {
	background: #222222;
}

#homepage {
	background: #111111;
	height: max-content;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
	.homepage.mesh {
		/*
		background-color: #009216;		*/
		background-color: #0f0f14;
		background-image: radial-gradient(circle at 50% 00%, #222222, transparent 50%), radial-gradient(circle at 80% 40%, #092b28, transparent 50%), radial-gradient(circle at 20% 80%, #140527, transparent 50%);

		filter: blur(100px);
		width: 100vw;
		height: -webkit-fill-available;
		position: absolute;
		z-index: -2;
	}

.main-content {
	padding: 30px;
	margin: 0px auto;
}

#top_most {
	height: -webkit-fill-available;
}

#about {
	height: max-content;
	width: -webkit-fill-available;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 100px 30px 30px 30px;
}

	#about .left {
		width: 400px;
		height: 400px;
	}

	#about .left .image {
		background: transparent url('../../resources/image/maiyome_main_img1.webp') no-repeat 50% 50% / contain;
		width: 400px;
		height: 400px;
		border-radius: 10px;
	}

	#about .right {
		margin-left: 30px;
	}

	#about .right .head {
		padding: 15px;
		font-size: 1.5rem;
		margin: 0px auto;
		width: 700px;
	}

	#about .right .main {
		padding: 15px;
		font-size: 1rem;
		margin: 0px auto;
		width: 700px;
	}

#features {
	height: max-content;
	width: -webkit-fill-available;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 100px 30px 30px 30px;
}

	.feature.content {
		display: flex;
	}

	/* Left side image */
	.content.image {
		width: 400px;
		height: 400px;
	}

	.feature.image {
		width: 100%;
		height: 400px;
		background-size: cover;
		background-position: center;
		border-radius: 10px;
		transition: background-image 0.3s ease;
	}

	.feature.image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: opacity 0.4s ease;
	}

	.content.main {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	/* Right side tabs */
	.content.list {
		margin-left: 30px;
		padding-left: 15px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 10px;
	}

	.content.info {
		width: 700px;
		margin: 20px 0px 0px 30px;
		padding: 0px 15px;
		height: 150px;
		font-size: 25px;
		text-align: center;
		white-space: pre-line;
	}

	/* Tab items */
	.data {
		width: 128px;
		height: 128px;
		padding: 0px;
		cursor: pointer;
		background: #222222;
		border-radius: 6px;
		transition: all 0.2s ease;
		display: flex;
	}

	/* Hover */
	.data:hover {
		background: #ddd;
	}

	/* Active tab */
	.data.active {
		background: #333;
		color: #fff;
		font-weight: bold;
	}

#usage {
	height: max-content;
	width: -webkit-fill-available;
	margin: 0px auto;
}
	#usage .head {
		padding: 15px;
		font-size: 1.5rem;
		margin: 0px auto;
		width: 700px;
		text-align: center;
		padding: 70px 30px 10px 30px;
	}
	
	.usage.main {
		padding: 0;
		overflow: hidden;
		max-width: -webkit-fill-available;
		display: flex;
		justify-content: center;
		padding: 35px 30px 45px 30px;
	}

	/* Code block */
	.usage.main code {
		display: block;
		padding: 10px;
		color: #e6edf3;
		font-size: 14px;
	}
	
	.usage .list.top {
		content: '';
		display: block;
		width: 600px;
		height: 36px;
		padding: 5px;
		text-align: center;
		background: #161b22;
		border-bottom: 1px solid #1f2937;
	}

	/* Optional: command style */
	.usage.main code span {
		color: #7ee787;
		font-family: 'consolas' !important;
	}
	
	.usage.details, .usage.direct {
		text-align: center;
		padding: 10px 10px;
	}
	
	.usage.list {
		width: 400px;
		border-radius: 0.5rem;
		background-color: #fff;
		box-shadow: 0 10px 30px rgba(0,0,0,0.8);
		border: 0px solid transparent;
		margin: 0px 10px;
		background: linear-gradient(to top, rgb(31 41 55 / 50%) 0%, rgb(40 47 61) 100%);
		backdrop-filter: blur(26px);
	}

	.usage.list a {
		text-decoration: none;
	}

	.usage.data {
		padding: 1.1rem;
	}

	.usage.top {
		object-fit: cover;
		width: 400xp;
		height: 229px;
		background-color: rgb(239, 205, 255);
	}
	.usage.top.one {
		background: transparent url('../../resources/image/maiyome_sub_img1.webp') no-repeat 50% 50% / contain;
	}
	.usage.top.two {
		background: transparent url('../../resources/image/maiyome_sub_img2.webp') no-repeat 50% 50% / contain;
	}
	.usage.top.three {
		background: transparent url('../../resources/image/maiyome_sub_img3.webp') no-repeat 50% 50% / contain;
	}


	.usage.now {
		padding: 0px;
	}
	.info.top {
		color: #EEE;
		font-size: 1.125rem;
		line-height: 1.75rem;
		font-weight: 600;
		padding: 10px;
		background-color: #293b5d;
		/* background: radial-gradient(circle farthest-side at bottom center, #005873 0%, #003343 100%); */
		text-align: center;
		position: relative;
		width: -webkit-fill-available;
		display: block;
		border-bottom: 1px solid #eee;
	}

	.info.bottom {
		margin-top: 0.5rem;
		color: #EEE;
		font-size: 0.875rem;
		line-height: 1.25rem;
		padding: 10px;
	}


#developers {
	height: max-content;
	width: -webkit-fill-available;
	margin: 0px auto;
	padding: 30px 30px 20px 30px;
	display: flex;

}

	.developers.main {
		background: #0d1117;
		padding: 0;
		overflow: hidden;
		border: 1px solid #1f2937;
		max-width: 600px;
	}

	/* Top bar (fake terminal header) */
	.developers.top {
		display: flex;
		flex-direction: column;
		width: 600px;
		align-content: center;
		flex-wrap: wrap;
		margin: 0px auto;
		box-shadow: 0 10px 30px rgba(0,0,0,0.8);
	}

	.developers.head {
		content: '';
		display: block;
		width: 600px;
		height: 36px;
		padding: 5px;
		text-align: center;
		background: #161b22;
		border-bottom: 1px solid #1f2937;
	}

	/* Code block */
	.developers.main code {
		display: block;
		padding: 10px;
		color: #e6edf3;
		font-size: 14px;
	}

	/* Optional: command style */
	.developers.main code span {
		color: #7ee787;
		font-family: 'consolas' !important;
	}
	
	.developers.details, .developers.direct {
		text-align: center;
		padding: 10px 10px;
	}

#changelog {
	height: max-content;
	width: -webkit-fill-available;
	margin: 0px auto;
	padding: 20px 30px 30px 30px;
}
	.changelog.main {
		background: #0d1117;
		padding: 0;
		overflow: hidden;
		border: 1px solid #1f2937;
		max-width: 600px;
		font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
	}

	/* Top bar (fake terminal header) */
	.changelog.top {
		display: flex;
		flex-direction: column;
		width: 600px;
		align-content: center;
		flex-wrap: wrap;
		margin: 0px auto;
		box-shadow: 0 10px 30px rgba(0,0,0,0.8);
	}

	.changelog.head {
		content: '';
		display: block;
		width: 600px;
		height: 36px;
		padding: 5px;
		text-align: center;
		background: #161b22;
		border-bottom: 1px solid #1f2937;
	}

	/* Code block */
	.changelog.main code {
		display: block;
		padding: 10px;
		color: #e6edf3;
		font-size: 14px;
	}

	/* Optional: command style */
	.changelog.main code span {
		color: #7ee787;
	}

#notes {
	height: max-content;
	width: -webkit-fill-available;
	margin: 0px auto;
	padding: 110px 30px 60px 30px;
}
	#notes .notes {
		width: 80vw;
		text-align: center;
		margin: 0px auto;
		font-size: 1rem;
	}

/* Media Screen Bootstrap 1280 or Below */
@media only screen and (max-width: 1600px) {
	.image_insert {
		top: 40vh;
	}
}
@media only screen and (max-width: 1280px) {
	#homepage::before {
		content: "";
		position: absolute;
		top: -60px;
		width: 100%;
		height: 60px;
		background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
	}
	#homepage {
		position: relative;
		z-index: 2;

		/* THIS IS THE KEY */
		margin-top: 100vh;
		max-width: -webkit-fill-available;
		height: max-content; }
	#header {
		text-align: center;	}
	.navigation {
		text-align: center; }
	.image_insert {
		top: 45svh;
	}
	.nav_list {
		width: 60vw;
	}
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 481px) {
	.usage.top img  {
		display: none;
	}
}

@media only screen and (max-width: 481px) {
	.circular-menu {
		display: none; }
		/*
	.nav_list {
		width: 100vw;
		bottom: 0px;
		position: fixed;
		z-index: 99;		
    	background: #030712;
	}*/
	.nav_list_activator {
		padding: 15px;
	}
	.nav_list_activator .icon {
		display: block;
		height: 32px;
		width: 32px;
		background: transparent url('../../resources/icon/icn_menu.png') no-repeat 50% 50% / contain;
		filter: invert(1);
	}
	.nav_list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
        top: 60px;
        height: -webkit-fill-available;

		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
	}

	.nav_list.active {
        opacity: 1;
        pointer-events: auto;
        top: 60px;
        height: -webkit-fill-available;
		background: rgba(22, 22, 22, 0.8);
        backdrop-filter: blur(5px);
	}
	.nav_container {
		flex-direction: column;
		display: flex;
		width: -webkit-fill-available;
		text-align: center;
		align-items: center;
		position: fixed;
		height: -webkit-fill-available;
	}
	.nav.item {
        width: 75vw;
        max-width: 75vw;
        min-width: 75vw;
		padding: 5px 0px 5px 0px;
	}
	/* CHANGELOG BUTTON
	.nav_container .nav.item:nth-child(5) {
		display: none;
	}*/
	.nav.item a {
		padding: 2vw 2vw 2vw 2vw;
		font-size: 30px;
	}

	.nav_icon, .nav_download {
		margin-left: 0px;
		margin-right: 0px;
	}
	.nav_download {
		display: none;
	}
	#info_main {
		top: calc(100vh / 5);
	}
	.info_top {
		font-size: 8vw;
	}
	.info_mid {
		width: 90vw;
		margin: 0px auto;
	}
	.info_bottom {
		margin: 20px 20px 20px 20px;
	}
	.image_insert {
		top: 15vh;
		width: calc(100vw * 2);
		height: calc(100vh * 1.1);
	}
	.insert_header {
		margin-left: -30px;
	}
	#homepage {
		margin-top: calc(100vh);
		width: max-content;
	}
	.homepage.mesh {
		width: -webkit-fill-available;
	}	
	#top_most {
		height: 0px;
		padding: 0px;
	}
	#about {
		flex-direction: column;
		padding: 50px 5vw 30px 5vw;
	}
		#about .left {
			width: -webkit-fill-available;
		}
		#about .left .image {
			width: -webkit-fill-available;
		}
		#about .right {
			margin-left: 0px;
		}
		#about .right {
			margin-top: -30px;
		}
		#about .right .head {
			width: 100%;
		}
		#about .right .main {
			width: 100%;
		}
		h1 {
			font-size: 6vw;
			text-align: center;
		}
		.about.main div {
			text-align: justify;
		}	
	#features {
		flex-direction: column;
		padding: 100px 5vw 30px 5vw;
	}
		.feature.content {
			display: flex;
			flex-direction: column;
		}
		.content.image {
			width: 100%;
			height: 100%;
		}
		.content.main {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			margin-left: 0px;
			padding: 30px 0vw 30px 0vw;
		}
		.feature.image {
			width: 100%;
			height: 44vh;
		}
		.content.list {
			margin-left: 0;
			padding-left: 0;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;			
        	justify-items: center;
		}
		.content.list .data {
			width: 24vw !important;
			font-size: calc(16px);
			height: max-content;
			width: 24vw;
			height: 20vw;
		}
		.card:hover, .data.active .card {
			width: 24vw;
			height: 20vw;
		}
		.content.list .data:hover, .content.list .data.active {
			width: 24vw;
		}
		.content.info {
			width: max-content;
			margin: 10px 0px 0px 10px;
			padding: 0px;
			white-space: unset;
			font-size: calc(100vw / 15);
		}
		.data .card span {
			padding: 5px;
		}
	#usage {}
		#usage .head {
			width: 100%;
			padding: 0px 10px 30px 10px;
		}
		.usage.main {
			padding: 10px 0px 45px 0px;			
			flex-direction: column;
			flex-wrap: nowrap;
			gap: 10px;
		}
		.usage.list {
			margin: 0px;
			width: min-content;
		}
		.usage.top {
			width: 100%;
			height: min-content;
			object-fit: contain;
			background: transparent;
		}
		.usage.top img {
			max-width: 84vw;
			max-height: 100%;
			display: block;
		}
		.usage.top.one, .usage.top.two, .usage.top.three  {
			background: none;
		}

	#developers {
        margin: 0px 10px;
		padding: 100px 0px 0px 0px;
	}
		.developers.top {
			width: auto;
		}
		.developers.head, .developers.main {
			width: -webkit-fill-available;
		}
	#changelog {
		margin: 0px 10px 0px 10px;
		padding: 100px 0px 0px 0px;
	}
		.changelog.top {
			width: auto;
		}
		.changelog.head, .changelog.main {
			width: -webkit-fill-available
		}
	#notes {
		padding: 100px 10px 60px 10px;
	}
}

@media only screen and (max-width: 480px) {
	.navigation {
		display: none; }
}

/* Media Screen Bootstrap 1281 or Higher */
@media only screen and (min-width: 1281px) {
	#homepage::before {
		content: "";
		position: absolute;
		top: -60px;
		width: 100%;
		height: 60px;
		background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.5));
	}
	#homepage {
		position: relative;
		z-index: 2;

		/* THIS IS THE KEY */
		margin-top: 100vh;
		max-width: -webkit-fill-available;
		height: max-content; }
	.header {
		float: left; }
}